<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/message.ejs') %>
    <div class="container">
      <h1>Welcome to Home Page!</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis odio
        tempora quia quibusdam perspiciatis minima animi ipsam consequatur,
        repudiandae officia ipsum. Voluptatibus vitae provident mollitia!
        Tempora eveniet quaerat ducimus molestiae blanditiis, cumque possimus
        asperiores sunt quisquam ad, repudiandae, harum odit dolorem porro
        ullam. Excepturi, neque nemo facilis dignissimos quibusdam rerum.
      </p>
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Register</a>
    </div>
  </body>
</html>
