<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/message.ejs') %>
    <div class="container">
      <h1>Welcome!</h1>
      <div class="details">
        <table>
          <tbody>
            <tr>
              <td class="heading">Project</td>
              <td>Passport Dashboard</td>
            </tr>
            <tr>
              <td class="heading">Creator</td>
              <td>CHIRAG CHAKRABORTY</td>
            </tr>
            <tr>
              <td class="heading">Source Code</td>
              <td>
                <a
                  href="https://github.com/noobchirag69/passport_dashboard"
                  target="_blank"
                  >Link to GitHub Repo</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="/login" class="btn">Login</a>
      <a href="/register" class="btn">Register</a>
    </div>
  </body>
</html>
